{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "YOUR_DATABASE_CONNECTION_STRING_HERE"
  },
  "MailSettings": {
    "Email": "YOUR_EMAIL_HERE",
    "Password": "YOUR_EMAIL_PASSWORD_HERE",
    "ToEmails": [
      "RECIPIENT_EMAIL_HERE"
    ]
  },
  "JwtSettings": {
    "Secret": "YOUR_JWT_SECRET_KEY_HERE_MINIMUM_32_CHARACTERS",
    "Issuer": "KripteksApi",
    "Audience": "KripteksClient",
    "ExpiryMinutes": 60
  },
  "AiSettings": {
    "DeepSeekApiKey": "YOUR_DEEPSEEK_API_KEY_HERE",
    "GeminiApiKey": "YOUR_GEMINI_API_KEY_HERE",
    "OpenAiApiKey": "YOUR_OPENAI_API_KEY_HERE"
  },
  "NewsSettings": {
    "CryptoPanicApiKey": "YOUR_CRYPTOPANIC_API_KEY_HERE"
  }
}
